@{
	ViewData["Title"] = "Scout";
}
@model BlitzScouter.Models.BSRaw

@using (Html.BeginForm("Data", "Main", FormMethod.Post, new { onsubmit = "increment();" }))
{
	<button type="button" id="header" onclick="document.documentElement.requestFullscreen()">@Model.team</button>
	<div id="content">
		<script type="text/javascript">
			var checkboxes = [];
			for (var i = 0; i < @(BSConfig.checkboxCounter); i++)
				checkboxes[i] = false;
			var counters = [];
			for (var i = 0; i < @(BSConfig.counterCounter); i++)
				counters[i] = 0;
		</script>

		@{
			Model.checkboxes = new List<bool>();
			Model.counters = new List<int>();
		}

		@Html.HiddenFor(m => m.team)
		@Html.HiddenFor(m => m.color)
		@Html.HiddenFor(m => m.round)

		@{
			// Initialize Variables
			int checkboxCounter = 0;
			int counterCounter = 0;

			// Iterate Through Each Component
			foreach (BlitzScouter.Models.Type t in BSConfig.components)
			{
				switch (t.type)
				{
					case "header":
						<div class="center">
							<div class="title">@t.title</div>
						</div>
						break;
					case "desc":
						<div class="center">
							<p>@t.title</p>
						</div>
						break;
					case "checkbox":
						Model.checkboxes.Add(((Checkbox)t).data);
						<div class="center">
							<div class="checkbox"> @t.title @Html.CheckBoxFor(m => m.checkboxes[checkboxCounter]) </div>
						</div>
						checkboxCounter++;
						break;
					case "counter":
						Model.counters.Add(0);
						@Html.HiddenFor(m => m.counters[counterCounter], new { id = "cnt" + counterCounter + "val" })
						<div class="center">
							<div class="counter"> <div class="counterDsp" id="cnt@(counterCounter)disp">0</div> <input type="button" class="counterBtn" value="+" onclick="changeCounters(@(counterCounter), 1, @(((BlitzScouter.Models.Counter) t).min), @(((BlitzScouter.Models.Counter) t).max))"> <input type="button" class="counterBtn" value="-" onclick="changeCounters(@(counterCounter), -1, @(((BlitzScouter.Models.Counter) t).min), @(((BlitzScouter.Models.Counter) t).max))"> <div class="counterTxt"> @t.title </div> </div>
						</div>
						counterCounter++;
						break;
				}
			}
		}

		@Html.TextBoxFor(model => model.comments, new { id = "comments", placeholder = "Comments" })
	</div>

		<input type="submit" id="footer" value="Send Data" />
}
