@{
	ViewData["Title"] = "Scout";
}
@model BlitzScouter.Models.DataModel

@using (Html.BeginForm("Data", "Main", FormMethod.Post))
{
	<input type="button" id="header" value="@Model.teamNum" />
	<div id="content">
		<div class="checkbox"> @Html.DisplayFor(m => m.checkbox1) @Html.CheckBoxFor(m => m.checkbox1) </div>
		<div class="counter"> @Model.counter1 @Html.DisplayFor(m => m.counter1) </div>
	</div>
	<input type="submit" id="footer" value="Send Data" />
}