@{
	ViewData["Title"] = "Scout";
}
@model BlitzScouter.Models.DataModel

@using (Html.BeginForm("Data", "Main", FormMethod.Post))
{
	<input type="button" id="header" value="@Model.teamNum" />
	<div id="content">
		<div class="center">
			<div class="checkbox"> @Html.DisplayNameFor(m => m.checkbox1) @Html.CheckBoxFor(m => m.checkbox1) </div>
			<div class="checkbox"> @Html.DisplayNameFor(m => m.checkbox2) @Html.CheckBoxFor(m => m.checkbox2) </div>
		</div>
		<div class="center">
			<div class="checkbox"> @Html.DisplayNameFor(m => m.checkbox3) @Html.CheckBoxFor(m => m.checkbox3) </div>
		</div>
	</div>
	<input type="submit" id="footer" value="Send Data" />
}