@{
	ViewData["Title"] = "Match Overview";
}
@model BlitzScouter.Models.BSMatch

	<table>
		<tr>
			<th>Team</th>
			@foreach (BlitzScouter.Models.Component t in BSConfig.c.matchScout)
			{
				if (t.type == "checkbox")
				{
					<th>@t.text</th>
				}
			}

			@foreach (BlitzScouter.Models.Component t in BSConfig.c.matchScout)
			{
				if (t.type == "counter")
				{
					<th>@t.text</th>
				}
			}
			<th>Comments</th>
		</tr>
		@for (var i = 0; i < Model.blue.Count; i++)
		{
			<tr>
				<th><button style="background:none;" onclick="toggleDisp(@(Model.blue[i].team));">@Model.blue[i].team</button></th>
				@for (var o = 0; o < Model.blue[i].averages.Count; o++)
				{
					<td>@Model.blue[i].averages[o]</td>
				}

				@if (Model.blue[i].averages.Count > 0)
				{
					<td>@Model.blue[i].pitComments</td>
				}
			</tr>
			@foreach (BSRaw r in Model.blue[i].rounds)
			{
				<tr class="@(Model.blue[i].team)matchdata" style="display:none;">
					<td>@r.round</td>
					@foreach (bool checkbox in r.checkboxes)
					{
						if (checkbox)
							{
								<td style="background-color:green;">@checkbox</td>
							}
							else
							{
								<td style="background-color:red;">@checkbox</td>
							}
					}
					@foreach (int counter in r.counters)
					{
						<td>@counter</td>
					}
					<td>@r.comments</td>
				</tr>
			}
		}
		@for (var i = 0; i < Model.red.Count; i++)
		{
			<tr>
				<th style="background-color:#ED1C24;"><button style="background:none;" onclick="toggleDisp(@(Model.red[i].team));">@Model.red[i].team</button></th>
				@for (var o = 0; o < Model.red[i].averages.Count; o++)
				{
					<td>@Model.red[i].averages[o]</td>
				}
				@if (Model.red[i].averages.Count > 0)
				{
					<td>@Model.red[i].pitComments</td>
				}
			</tr>
			@foreach (BSRaw r in Model.red[i].rounds)
			{
				<tr class="@(Model.red[i].team)matchdata" style="display:none;">
					<td>@r.round</td>
					@foreach (bool checkbox in r.checkboxes)
					{
						if (checkbox)
						{
							<td style="background-color:green;">@checkbox</td>
						}
						else
						{
							<td style="background-color:red;">@checkbox</td>
						}
					}
					@foreach (int counter in r.counters)
					{
						<td>@counter</td>
					}
					<td>@r.comments</td>
				</tr>
			}
		}
	</table>