@{
	ViewData["Title"] = "Match Overview";
}
@model BlitzScouter.Models.BSMatch

	<table>
		<tr>
			<th>Team</th>
			@foreach (BlitzScouter.Models.Component t in BSConfig.c.matchScout)
			{
				if (t.type == "checkbox")
				{
					<th>@t.text</th>
				}
			}

			@foreach (BlitzScouter.Models.Component t in BSConfig.c.matchScout)
			{
				if (t.type == "counter")
				{
					<th>@t.text</th>
				}
			}
			<th>Comments</th>
		</tr>
		@for (var i = 0; i < Model.blue.Count; i++)
		{
			<tr>
				<th><button style="background:none; font-size:20px;" onclick="toggleDisp(@(Model.blue[i].team));">@Model.blue[i].team</button><h4>@Model.blue[i].name</h4></th>
				@foreach (var a in Model.blue[i].checkboxAverages)
				{
					<td style="font-size:@(Math.Round(6 + a*20))px;">@(a*100)%</td>
				}
				@foreach (var a in Model.blue[i].counterAverages)
				{
					<td>@a</td>
				}

				@if (Model.blue[i].rounds.Count > 0)
				{
					<td>@Model.blue[i].pitComments</td>
				}
			</tr>
			@foreach (BSRaw r in Model.blue[i].rounds)
			{
				<tr class="@(Model.blue[i].team)matchdata" style="display:none;">
					<td>@r.round</td>
					@foreach (bool checkbox in r.checkboxes)
					{
						if (checkbox)
							{
								<td style="background-color:green;">@checkbox</td>
							}
							else
							{
								<td style="background-color:red;">@checkbox</td>
							}
					}
					@foreach (int counter in r.counters)
					{
						<td>@counter</td>
					}
					<td>@r.comments</td>
				</tr>
			}
		}
		@for (var i = 0; i < Model.red.Count; i++)
		{
			<tr>
				<th style="background-color:#ED1C24;"><button style="background:none; font-size:20px;" onclick="toggleDisp(@(Model.red[i].team));">@Model.red[i].team</button><h4>@Model.red[i].name</h4></th>
				@foreach (var a in Model.red[i].checkboxAverages)
					{
						<td style="font-size:@(Math.Round(6 + a*20))px;">@(a*100)%</td>
					}
					@foreach (var a in Model.red[i].counterAverages)
					{
						<td>@a</td>
					}
				@if (Model.red[i].rounds.Count > 0)
				{
					<td>@Model.red[i].pitComments</td>
				}
			</tr>
			@foreach (BSRaw r in Model.red[i].rounds)
			{
				<tr class="@(Model.red[i].team)matchdata" style="display:none;">
					<td>@r.round</td>
					@foreach (bool checkbox in r.checkboxes)
					{
						if (checkbox)
						{
							<td style="background-color:green;">@checkbox</td>
						}
						else
						{
							<td style="background-color:red;">@checkbox</td>
						}
					}
					@foreach (int counter in r.counters)
					{
						<td>@counter</td>
					}
					<td>@r.comments</td>
				</tr>
			}
		}
	</table>